$background: rgb(221, 193, 127);
$textColor: #253b0de3;
$errorColor: #5a1727;
$primaryColor: #eca430;
$secondaryColor: #385518ea;
$disabledColor: #d0d0b9;
$disabledTextColor: #3c4433e3;

$white: #FFFFFF;
$black: #000000;